<section class="Search" data-controller="search">
  <form
    action="<%= action %>"
    class="Search-form"
    data-target="search.form"
    method="GET"
  >
    <fieldset class="Search-fields">
      <legend class="Search-legend">
        <%= typeof legend === 'string' ? legend : 'Search' %>
      </legend>
      <div class="Search-row">
        <input
          aria-label="<%= ariaLabel %>"
          class="Search-input Input Input--primary"
          data-target="search.input"
          name="<%= name %>"
          placeholder="<%= typeof placeholder === 'string' ? placeholder : 'type...' %>"
          required
          type="text"
          value="<%= search %>"
        />
        <button
          class="Search-voiceButton Button Button--primary"
          data-action="search#toggleVoice"
          data-target="search.voiceButton"
          type="button"
        >
          <span class="Search-icon Icon" data-target="search.voiceIcon"></span>
        </button>
        <button class="Search-submit Button Button--primary">
          <%= typeof submit === 'string' ? submit : 'search' %>
        </button>
      </div>
    </fieldset>
  </form>
</section>
