<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <%- include('layout/header'); %>
    <script src="/main.js" defer></script>
  </head>
  <body>
    <div class="Wrapper">
      <% if (showBack) { %>
        <p><a href="/" class="Link-back">&larr; Go back to catalogue</a></p>
      <% } %>
      <div>
        <a data-turbolinks="false" href="#characters" class="Skipping">Skip search and go to character list</a>
      </div>
      <% if (previousLink || nextLink) { %>
        <div>
          <a data-turbolinks="false" href="#pagination" class="Skipping">Skip content and go to pagination</a>
        </div>
      <% } %>
      <h1>StarWars Characters Catalogue</h1>
      <%- include('components/Search', { 
        action: '/search', 
        ariaLabel: 'Search character', 
        name: 'character', 
        placeholder: 'type name...', 
        search,
      }); %>
      <section>
        <ul class="List Grid" id="characters">
          <% data.results.map(person => { %>
            <li class="Grid-cell Cell-1of2">
              <%- include('components/CharacterCard', {getIdFromUrl, person}); %>
            </li>
          <% }); %>
        </ul>

        <% if (!data.results.length) { %>
          <div class="Empty">
            <p>There are no characters to show.</p>
          </div>
        <% }; %>

        <div class="Pagination u-text--center" id="pagination">
          <% if (previousLink) { %>
            <a href="<%= previousLink %>" class="Button Button--primary">Previous</a>
          <% }; %> 
          <% if (nextLink) { %>
            <a href="<%= nextLink %>" class="Button Button--primary">Next</a>
          <% }; %>
        </div>
      </section>
    </div>
  </body>
</html>
